@model FavouritesViewModel
<section class="mainpage-gallery" id="mainpageAds"></section>
<head>
    <title>@Model.CurrentCategory</title>
</head>

<div class="gallerywide" id="gallerywide">

    @foreach (var fav in Model.FavouriteAds)
    {
        <div class="wrapper">
            <div class="thumbnail">
                <div class="cb">
                    <label>
                        @if (fav.IsChecked)
                        {
                            <input class="favoriteCheck" type="checkbox" id="@fav.Ad.Id" checked>
                        }
                        else
                        {
                            <input class="favoriteCheck" type="checkbox" id="@fav.Ad.Id">
                        }
                        <span>Favorite</span>
                    </label>
                </div>
                <img class="img" src="@fav.Ad.ImageUrl" alt="">
                <div class="caption">
                    <h6 class="normal">
                        <a asp-controller="Ad" asp-action="Details" asp-route-id="@fav.Ad.Id" title="@fav.Ad.Name">
                            <strong>@fav.Ad.Name</strong>
                        </a>
                    </h6>

                    <ul class="date-location">
                        <li>@fav.Ad.City.Name</li>
                        <li>@fav.Ad.DateFrom</li>
                    </ul>
                    <h6 class="pull-right">@fav.Ad.Price.ToString("c2",CultureInfo.CreateSpecificCulture("bg-BG"))</h6>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
<script src="~/js/favoriteCheck.js" asp-append-version="true"></script>
}